.purple {
    background: linear-gradient(var(--purple), var(--purple));
}

.boardTile.purple:hover {
    background: 
        linear-gradient(var(--purple), var(--purple)),
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    background-blend-mode: multiply;
}

nav.board.purple {
    background: 
        linear-gradient(var(--purple), var(--purple)),
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-blend-mode: multiply;
}

.green {
    background: linear-gradient(var(--green), var(--green));
}

.boardTile.green:hover {
    background: 
        linear-gradient(var(--green), var(--green)),
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    background-blend-mode: multiply;
}

nav.board.green {
    background: 
        linear-gradient(var(--green), var(--green)),
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-blend-mode: multiply;
}

.orange {
    background: linear-gradient(var(--orange), var(--orange));
}

.boardTile.orange:hover {
    background: 
        linear-gradient(var(--orange), var(--orange)),
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    background-blend-mode: multiply;
}

nav.board.orange {
    background: 
        linear-gradient(var(--orange), var(--orange)),
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-blend-mode: multiply;
}