body {
    text-align: center;
    background-color: var(--near-white);
}

.LoginView img {
    display: block;
    height: 43px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.LoginView .errorMessage {
    color: rgb(204 27 27);
    padding: 16px;
    background: #ffe5e4;
    border: 2px solid rgb(204 27 27);
    min-width: 244px;
    max-width: 320px;
    margin: 0px auto 16px auto;
    box-sizing: border-box;
    border-radius: 3px;
}