.addList {
    background-color: var(--light-gray);
    padding: 8px;
    border-radius: 3px;
}

.addCard form, .addList form {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

.Add button {
    width: 100%;
    margin: 0;
}

.addCard .cancel, .addList .cancel {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    align-self: center;
    opacity: 0.4;
}

.addCard .cancel:hover, .addList .cancel:hover {
    opacity: 1;
}

.cancel img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.addCard {
    padding: 0;
    background: transparent;
    box-shadow: none;
}

.addCard textarea {
    grid-column: span 2;
    width: 100%;
    padding: 8px 8px 1.2em 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    font-family: inherit;
    font-size: 14px;
    color: var(--dark-blue);
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    resize: none;
}

.addList input {
    grid-column: span 2;
    background-color: #ffffff;
    border: 2px solid var(--brand-blue);
    height: 40px;
    margin: 0;
    display: block;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 0.6em;
}

.addList input:focus {
    border: 2px solid var(--brand-blue);
    outline: none;
}

.addList button, .addCard button {
    margin: 0;
    width: auto;
}

.addList form, .addCard form {
    text-align: left;
}