.Card {
    background-color: #fff;
}

.Card, .cardContents {
    padding: 8px;
    font-size: 14px;
    color: var(--dark-blue);
    text-align: left;
    border-radius: 3px;
}

.Card.closed, .Card.open {
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 24px;
}

/* modal class styles the fullscreen div */
.Card.closed .modal {
    display: none;
}

.Card.open .modal {
    background-color: rgba(0,0,0,0.6);
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* cardContentsContainer class positions and creates the right height around
the actual card content */
.Card.open .modal .cardContentsContainer {
    box-sizing: content-box;
    width: 85%;
    max-width: 585px;
    min-width: 260px;
    justify-self: center;
    align-self: flex-start;
}

/* cardContents styles the visual card (title, description, etc) */
.Card.open .modal .cardContentsContainer .cardContents {
    background-color: #f4f5f7;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
    width: 100%;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: auto;
}

.cardContents h1 {
    grid-column: span 1;
}

.cardContents button.close {
    height: 32px;
    padding: 8px;
    margin: 0;
    justify-self: right;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    border-radius: 100px;
}

.cardContents button.close:hover {
    background-color: rgba(0,0,0,0.1);
}

.cardContents button.close:active {
    background-color: rgba(0,0,0,0.2);
}

.cardContents button.close img {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}