.Form {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    width: 320px;
    max-width: 585px;
    margin: auto;
}

.Form input {
    font-size: 14px;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 44px;
    width: 320px;
    max-width: 400px;
    -webkit-transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    margin: 0 0 1.2em;
    display: block;
    padding: 0.6em;
}

button[type="submit"] {
    border-radius: .3em;
    background: var(--green);
    color: #fff;
    padding: .6em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0px;
    width: 100%;
    font-weight: 700;
    margin-bottom: 20px;
}

.Form h1 {
    text-align: center;
    color: #5E6C84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}